.icons {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eff7fa;
  
  &--white {
    background-color: #fff;
  }
}

.icons__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.icons__item {
  width: 270px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.icons__img {
  height: 90px;
}
